.stock-content {
    font-family: Arial, sans-serif;
    background-color: #eeeef0;
    padding: 0px 20px;
  }
  
  .stock-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .stock-header h1 {
    font-family: Nunito;
    font-weight: 800;
  }
  
  .stock-actions button {
    font-family: Nunito;
    font-weight: 600;
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .stock-add-button {
    
    background-color: #456EFE;
    color: white;
  }
  
  .stock-add-button:hover {
    background-color: #3d60de;
  }
  
  .stock-add-button i {
    padding-right: 5px;
  }
  

  .stock-table-content {
    font-family: Nunito;
    padding: 5px 20px 20px 20px;
    background-color: white;
    border-radius: 20px;
  }
  
/* stock Table Content */
.stock-table-content {
  font-family: Nunito;
  padding: 5px 20px 20px 20px;
  background-color: white;
  border-radius: 20px;
}

.stock-filters {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.stock-search-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stock-search-filter label {
  font-size: 14px;
  color: #555;
}

.stock-search-filter input {
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
}

.stock-category-filter{
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.stock-category-filter select {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-family: nunito;
  cursor: pointer;
}

.stock-brand-filter{
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.stock-brand-filter select {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-family: nunito;
  cursor: pointer;
}

.stock-entry-selector {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #555;
}

.stock-entry-selector select {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.stock-table th, .stock-table td {
  color: #333333;
  padding: 10px;
  text-align: center;
  border-bottom: 1.5px solid #e4e4e4;
}

.stock-actions-dropdown {
  position: relative;
}

.stock-action-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.stock-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  right: 0;
  z-index: 1;
}

.stock-actions-dropdown:hover .stock-dropdown-content {
  display: block;
}

.stock-quantity-view {
  display: inline-block;
  text-align: center;
  width: fit-content;
  border-radius: 5px;
  font-weight: 800;
  padding: 7px;
}


/*Stock view button*/
.stock-view-button{
  padding: 10px 10px;
  font-family: Nunito;
  margin: 0 5px;
  background-color: #456EFE;
  font-weight: 600;
font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

  
  .stock-pagination {
    font-family: Nunito;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .stock-pagination button {
    padding: 10px 10px;
    margin: 0 5px;
    background-color: #456EFE;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .stock-pagination button:hover {
    background-color: #3d60de;
  }
  
  .stock-pagination span {
    margin: 0 5px;
    font-size: 16px;
  }
  