.invoice-preview {
  max-width: 800px;
  margin: 50px auto;
  font-family: "Nunito", sans-serif;
  color: #333;
  background-color: #f7f9fc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-header h1 {
  margin: 0;
  font-size: 32px;
}

.invoice-preview-logo {
  width: 11%;
}

.invoice-more-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.invoice-invoice-info {
  text-align: left;
}

.invoice-comapny-info {
  text-align: right;
}

.invoice-more-info p {
  margin: 0px !important;
  padding: 0px !important;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.invoice-table th,
.invoice-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.invoice-table th {
  background-color: #2d2d2d;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.invoice-table td {
  font-size: 14px;
  background-color: #fff;
}
.invoice-table td,
.invoice-table th {
  border-right: none; /* Remove vertical borders inside */
}

.invoice-table tr td:last-child,
.invoice-table tr th:last-child {
  border-right: 1px solid #ddd; /* Keep the border on the last column */
}

.invoice-table tr td:first-child,
.invoice-table tr th:first-child {
  border-left: 1px solid #ddd; /* Keep the border on the first column */
}

.invoice-table tfoot td {
  font-weight: bold;
  background-color: #f7f9fc;
  text-align: center;
}

.invoice-footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.download-btn {
  text-align: left;
  display: block;
  width: 100%;
  max-width: 250px;
  padding: 10px 20px;
  background-color: #2d2d2d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

.download-btn:hover {
  background-color: #0d0d0d;
}
